.shopSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(200px, 20%, 350px));
    gap: 1rem;
    justify-content: center;
    padding: 2rem;
}

.shopHeadingGroup {
    display: flex;
    gap: 1rem;
}

.refreshButton {
    background-color: rgb(148, 126, 52);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}
