.container {
    border: 3px solid grey;
    border-radius: 12px;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1/1;
    grid-template-rows: 1/1/1;
    width: 80%;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.itemsContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    grid-column: 1/3;
    padding: 1rem;
}

.cartItem {
    display: grid;
    /* grid-template-columns: repeat(5,1fr); */
    grid-template-columns: 50px 2fr 0.5fr 0.5fr;
    gap: 5rem;
    justify-content: space-around;
    align-items: center;
}

.cartItem img {
    inline-size: 50px;
    aspect-ratio: 1;
    object-fit: contain;
}

.cartItem p {
    font-size: 1.1rem;
}

.totalPrice {
    grid-column: 2 / 3;
    grid-row: 3/4;
    justify-self: end;
    padding: 0.4rem;
}

.totalText {
    font-size: 1.6rem;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 50px 2fr 0.5fr 0.5fr;
    gap: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-around;
    width: 100%;
    grid-column: 1/3;
}

.pageContainer {
    flex-direction: row;
}

.cartQuantityInput {
    max-width: 5rem;
    min-height: 2rem;
    border-radius: 5px;
    padding: .3rem;
}

.quantityControls {
    display: flex;
    gap: 0.7rem;
}

.removeItemButton {
    padding: 0.5rem;
    border: 1px solid white;
}