nav {
    display: flex;
    gap: 2rem;
    border: 3px solid white;
    padding: 1rem;
    width: 100%;
    justify-content: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  color: #61dafb;
}