nav {
    display: flex;
    gap: 2rem;
    border: 3px solid white;
    padding: 1rem;
    width: 100%;
    justify-content: center;
}

.navLink {
    color: white;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
}

.navLink:hover {
    color: #61dafb;
}
