* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.outlet {
    padding: 2rem;
}

.footer {
    margin-top: auto;
    padding: 1rem;
    text-align: center;
    background-color: #ffffff;
    font-size: 0.9rem;
    color: #64748b;
}